{%extends 'shop/base.html'%}
{% load static %}

{%block content%}

<h1>Корзина покупок</h1>

<table class="container">
    <thead>



        <th> <button type="button" class="btn btn-primary btn-sm">Картинка</button></th>
        <th> <button type="button" class="btn btn-primary btn-sm">тоовар</button></th>
        <th> <button type="button" class="btn btn-primary btn-sm">Обновить </button></th>
        <th> <button type="button" class="btn btn-primary btn-sm">Удалить</button></th>
        <th> <button type="button" class="btn btn-primary btn-sm">Кол-во</button></th>
        <th> <button type="button" class="btn btn-primary btn-sm">Цена </button></th>
        <th> <button type="button" class="btn btn-primary btn-sm">Общая стоимость</button></th>

    
    </thead>
    <tbody>
    {% for item in cart %}
        {% with product=item.product%}
        <tr>
            <td>
                <a href="{{product.get_absolute_url}}">
                    <img src="/media/{{product.photo_path}}" height="20%"  width="30%" style="margin: 30 px">

                </a>
            </td>
            <td>
                {{product.name}}
            </td>
            <td>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{item.update_quantity_form.quantity}}
                    {{item.update_quantity_form.update}}
                    <input type="submit" value="Обновить">
                    {% csrf_token %}
                </form>
            </td>
            <td>
                <a href="{% url 'cart:cart_remove' product.id %}"><div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Удалить</a></button>
            </td>
            <td>
                {{item.quantity}}
            </td>
            <td class="num">
                {{item.price}} Тг
            </td>
            <td class="num">
                {{item.total_price}} Тг
            </td>
        </tr>
        {%endwith%}
    {%endfor%}
    <tr class="total">
        <td colspan="40"></td>
        <td>Всего:</td>
        <td class="sum">{{cart.get_total_price}} Тг</td>
    </tr>
    </tbody>
</table>

<p class="text-right">
    <a href="{% url 'shop:index' %}"><button type="button" class="btn btn-primary">Продолжить покупки</button></a>
    <a href="{% url 'cart:cart_buy' %}"><button type="button" class="btn btn-primary">Оформить заказ</button></a>

</p>

{%endblock%}