{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card shadow-sm">
                    <div class="row">
                        <div class="col-12">
                            <img src="{{ item.photo_path.url }}" class="img-fluid" alt="{{ item.name }}">
                        </div>
                        <div class="col-12 mt-3">
                            <img src="{{ item.photo_path1.url }}" class="img-fluid" alt="{{ item.name }}">
                        </div>
                        <div class="col-12 mt-3">
                            <img src="{{ item.photo_path2.url }}" class="img-fluid" alt="{{ item.name }}">
                        </div>
                        <div class="col-12 mt-3">
                            <img src="{{ item.photo_path3.url }}" class="img-fluid" alt="{{ item.name }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="card shadow-sm">
                    <img src="{{ item.photo_path.url }}" class="card-img-top" alt="{{ item.name }}">
                    <div class="card-body">


                        <p class="card-text">{{ item.name }}</p>
                        <p class="card-text">{{ item.description1 }}</p>
                        <div class="btn-group">
                            <form action="{% url 'cart:cart_add' item.id %}" method="post">
                        {{cart_product_form}}
                        {%csrf_token%}
                         <input type="submit" class="btn btn-sm btn-outline-secondary" value="Add to Cart">
                            </form>
                        </div>
                        <small class="text-body-secondary">Price: {{ item.price }}</small>
                    </div>
                   <div class="alert alert-dismissible alert-secondary">
  <strong>ВОЗВРАТ</strong> Бесплатный возврат в магазине
                       Вы можете вернуть товар в любом магазине Massimo Dutti на том же рынке, где приобрели его.
                       Возврат товара в Massimo Dutti всегда производится бесплатно. Срок возврата — 30 дней со дня подтверждения отправки.
                       Бесплатный возврат по домашнему адресуВы можете запросить бесплатный возврат по домашнему адресу в разделе «мой аккаунт».
                       Возврат товара в Massimo Dutti всегда производится бесплатно. Срок возврата — 30 дней со дня подтверждения отправки. Возврат в пункте выдачи
                       Вы можете вернуть товар в любом из наших пунктов выдачи. Посмотрите список при оформлении возврата (раздел «Мой аккаунт»,
                       подраздел «Возвраты»). Вернуть товар нужно в течение 30 дней с момента покупки.
                        Обратите внимание, что персонализированные изделия возврату и обмену не подлежат.

</a>.
</div>
                </div>


</div>
        </div>
    </div>
{% endblock %}