{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

<h1>ИСТОРИЯ БРЕНДА</h1>

<h3>
  Massimo Dutti
  <small class="text-body-secondary">Бренд Massimo Dutti был образован в 1985 году, а в 1991 году его приобрела группа Inditex. Сегодня он представлен более чем в 78 странах и имеет 643 магазинов.



Первоначально бренд ориентировался на мужскую моду, однако в 1995 году компания добавила в линейку коллекции женской одежды, включающие как повседневные, так и более строгие модели. Это позволило Massimo Dutti усилить свои позиции и обеспечить устойчивый рост бренда в Испании и за ее пределами. В данный момент в компании работает более 10 000 человек.



Начиная с сентября 2006 года Massimo Dutti разрабатывает и реализует товары следующих линий. Женская одежда: женская одежда, аксессуары, парфюмерия. Мужская одежда: мужская одежда, аксессуары, Personal Tailoring, парфюмерия.</small>
</h3>

{% endblock %}